@model LeaveManagementSystem.ViewModel.DepartmentViewModel
@{
    ViewBag.Title = "AddDepartment";
}
@if (ViewBag.Response != null)
{
    <div class="alert alert-success">
        <strong>Updated Successfully!</strong>
    </div>

}

<link rel="stylesheet" href="~/Content/CustomStyleSheet.css">

<div class="container">
    <h3>Register new department</h3>

    <hr>
    @using (Html.BeginForm("adddepartment", "department", FormMethod.Post))
    {
        @Html.LabelFor(temp => temp.DepartmentName, "Department Name")
        @Html.TextBoxFor(temp => temp.DepartmentName)
        @Html.ValidationMessageFor(temp => temp.DepartmentName, "", new { @class = "text-danger", required = "required" })

        <small class="department-exist text-danger"></small>
        <br /> <br /> 
        <button type="submit" style="float:right;" class="btn btn-primary">Add</button>
        <a href="/department/departmentlist" style="float:left" class="btn btn-primary">back</a>

    }
</div>

<script>
    $(document).ready(function () {
        $("#DepartmentName").blur(function () {
            var department = $("#DepartmentName").val();

            $.ajax({
                url: '/RemoteValidation/getdepartment?department=' + department,
                method: 'get',
                data: { department: department },
                dataType: 'json',
                success: function (msg) {
                    if (msg.msg == "found") {
                        $(".department-exist").text("Department already exist");

                    }
                    else {
                        $(".department-exist").text(" ");

                    }
                },
                error: function (response) {
                    alert("Something went wrong ! Try again");
                }


            });


        });

    });
</script>



