@model LeaveManagementSystem.ViewModel.AdminProfileViewModel
@{
    ViewBag.Title = "ChangeVirtualHead";
}


    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/Content/CustomStyleSheet.css">
   


    <form action="/department/changevirtualhead" method="post">
        <div class="container">
            <h1>Change Virtual Head</h1>

            <hr>

            <label for="Department"><b>Department Name</b></label>
            <input value="@Model.Department.DepartmentName" id="Department" required readonly>
            <br /> <br />
            @Html.HiddenFor(temp=>temp.EmployeeID)

            @Html.LabelFor(temp => temp.NewVirtualTeamHeadID, "Vitual Head Name")
            @Html.DropDownListFor(temp => temp.NewVirtualTeamHeadID, Model.EmployeeList, (Model.FirstName + " " + Model.MiddleName + " " + Model.LastName + " (Current)"))

            

            <br /><br />
                  <button type="submit" class="btn btn-success"> Save</button>
            <a href="/department/index" class="btn btn-primary" style="float:right">Back</a>
        </div>


    </form>

