@model LeaveManagementSystem.ViewModel.DesignationViewModel
@{
    ViewBag.Title = "AddDesignation";
}
@if (ViewBag.Response != null)
{
    <div class="alert alert-success">
        <strong>Updated Successfully!</strong>
    </div>

}
<link rel="stylesheet" href="~/Content/CustomStyleSheet.css">

<div class="container">
    <hr>
    @using (Html.BeginForm("adddesignation", "designation", FormMethod.Post))
    {
        @Html.LabelFor(temp => temp.DesignationName, "Designation Name")
        @Html.TextBoxFor(temp => temp.DesignationName)
        @Html.ValidationMessageFor(temp => temp.DesignationName, "", new { @class = "text-danger", required = "required" })
        <small class="designation-exist text-danger"></small>
        <br /> <br />
        <button type="submit" style="float:right;" class="btn btn-primary">Add</button>
        <a href="~/designation/listdesignation" style="float:left;" class="btn btn-primary">Back</a>
    }
</div>

<script>
    $(document).ready(function () {
        $("#DesignationName").blur(function () {
            var designation = $("#DesignationName").val();

            $.ajax({
                url: '/RemoteValidation/getdesignation?designation=' + designation,
                method: 'get',
                data: { designation: designation },
                dataType: 'json',
                success: function (msg) {
                    if (msg.msg == "found") {
                        $(".designation-exist").text("Designation already exist");

                    }
                    else {
                        $(".designation-exist").text(" ");

                    }
                },
                error: function (response) {
                    alert("Something went wrong ! Try again");
                }


            });


        });

    });
</script>




