@model List<LeaveManagementSystem.ViewModel.DesignationViewModel>
@{
    ViewBag.Title = "ListDesignation";
}

<a href="~/designation/adddesignation" class="btn btn-primary" style="float:right">Add Designation</a>
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Designation Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.DesignationName</td>
                </tr>
            }
        </tbody>
    </table>
</div> 