@model LeaveManagementSystem.ViewModel.AdminProfileViewModel
@{
    ViewBag.Title = "AdminEditEmployee";
}

<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
    body {
        font-family: Arial, Helvetica, sans-serif;
        background-color: white;
    }

    * {
        box-sizing: border-box;
    }

    /* Add padding to containers */
    .container {
        padding: 16px;
        background-color: white;
    }

    /* Full-width input fields */
    input[type=text], input[type=password] {
        width: 100%;
        padding: 15px;
        margin: 5px 0 22px 0;
        display: inline-block;
        border: none;
        background: #f1f1f1;
    }

        input[type=text]:focus, input[type=password]:focus {
            background-color: #ddd;
            outline: none;
        }

    /* Overwrite default styles of hr */
    hr {
        border: 1px solid #f1f1f1;
        margin-bottom: 25px;
    }

    /* Set a style for the submit button */
    .registerbtn {
        background-color: #1a53ff;
        color: white;
        padding: 16px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
        opacity: 0.9;
    }

        .registerbtn:hover {
            opacity: 1;
        }

    /* Add a blue text color to links */
    a {
        color: dodgerblue;
    }

    /* Set a grey background color and center the text of the "sign in" section */
    .signin {
        background-color: #f1f1f1;
        text-align: center;
    }

    .container {
        width: 500px;
    }
</style>



<form action="/account/admineditemployee/" method="post" novalidate enctype="multipart/form-data">
    <div class="container">
        <h1>Update Profile</h1>
        <p>Enter employee details.</p>
        <br> <br>
        <label for="Image">Add Image</label>
        @*<img style="float:right;width:100px;height:auto;" src="">*@
        <input type="file" name="Image" id="Image" />
        <br>
        <br> <br> <br> <br>
        <input type="hidden" name="EmployeeID" value=@Model.EmployeeID>
        <label for="FirstName"><b>First Name</b></label>
        <input type="text" placeholder="First Name" name="FirstName" id="FirstName" value=@Model.FirstName  required>

        <label for="MiddleName"><b>Middle Name</b></label>
        <input type="text" placeholder="Middle Name" name="MiddleName" id="MiddleName"
                value=@Model.MiddleName required>

        <label for="LastName"><b>Last Name</b></label>
        <input type="text" placeholder="Last Name" name="LastName" id="LastName"
                value=@Model.LastName required>

        <label for="AddressLineOne"><b>AddressLine 1</b></label>
        <input type="text" placeholder="Address" name="AddressLine1" id="AddressLineOne" 
               value=@Model.AddressLine1 required>

        <label for="AddressLineTwo"><b>AddressLine 2</b></label>
        <input type="text" placeholder="Address" name="AddressLine2" id="AddressLineTwo"
               value=@Model.AddressLine2 required>
        <label for="AddressLineOne"><b>AddressLine 3</b></label>
        <input type="text" placeholder="Address" name="AddressLine3" id="AddressLineThree"
               value=@Model.AddressLine3 required>
        <label for="Nationality"><b>Nationality</b></label>
        <input type="text" placeholder="Nationality" name="Nationality" id="Nationality"
               value=@Model.Nationality required>
        <label for="DateOfBirth"><b>Date Of Birth</b></label>
        <input type="date" name="DateOfBirth" id="DateOfBirth" value=@Model.DateOfBirth required>

        <br /><br />
      
            @Html.LabelFor(temp => temp.DepartmentStringId, "Department")
            @Html.DropDownListFor(temp => temp.DepartmentStringId, Model.DepartmentList, "select Department")
            <br />  <br />

            @Html.LabelFor(temp => temp.DesignationStringId, "Designation")
            @Html.DropDownListFor(temp => temp.DesignationStringId, Model.DesignationList, "select Designation")

            <br><br>
         
            <label for="IsspecialPermission"><b> Is special Permission</b></label>
            <input type="checkbox" id="IsspecialPermission" name="IsspecialPermission" value=@Model.IsSpecialPermission>


            <label for="Status"><b> Current Status</b></label>
            <input type="checkbox" id="Status" name="CurrentStatus" value=@Model.CurrentStatus>
       
        <br />
        <br />
        <button type="submit" class="btn btn-success" style="float:right;">Update</button>
    </div>

</form>



