@model LeaveManagementSystem.ViewModel.RequestVacationViewModel
@{
    ViewBag.Title = "SendLeaveRequest";
}
@{
    var emp = (LeaveManagementSystem.ViewModel.AdminProfileViewModel)Session["EmployeeObj"];
}
<link rel="stylesheet" href="~/Content/CustomStyleSheet.css">



@if (emp.IsSpecialPermission || emp.DesignationName == "Project Manager" || emp.IsVirtualTeamHead == true)
{
    <style>
        .hide-element {
            visibility: visible !important;
        }
        .hide-leavestatus {
            visibility: hidden;
        }
    </style>
}
<a href="~/Leave/verifyleave" class="btn btn-primary hide-element">Verify Request</a>
<a href="~/Leave/Leavestatus" class="btn btn-primary hide-leavestatus" style="float:right;">Leave Status</a>
<form action="~/leave/sendleaverequest" method="post">
    <div class="container">
        <h1>Leave Request</h1>
        <p>Please fill in this form to request a leave.</p>
        <hr>

        <label for="fromdate"><b>From Date</b></label>
        <input type="date" name="FromDate" id="fromdate" required>
        <div style="float:right;">
            <label for="todate"><b>To Date</b></label>
            <input type="date" name="ToDate" id="todate" required>
            <br /><br />
            <label for="Am">Am</label>
            <input type="checkbox" value="true" id="Am" name="AmOnly" />
            <label for="Pm">Pm</label>
            <input type="checkbox" value="true" id="Pm" name="PmOnly" />
        </div><br><br>



        @Html.LabelFor(temp => temp.VacationStringID, "VacationID")
        @Html.DropDownListFor(temp => temp.VacationStringID, Model.VacationTypeList, "Select Vacation")


        <br /><br />
        <div style="float:right;">


            @Html.LabelFor(temp => temp.ApproverID)
            @Html.DropDownListFor(temp => temp.ApproverID, Model.ApproverList, "--------------")


        </div>
        <br><br>


        <label for="comment"><b>Comment</b></label>
<textarea id="comment" name="Comments" rows="4" cols="50">

  </textarea>


        <button type="submit" class="registerbtn">Send Request</button>
    </div>


</form>
