

.row.content {
    height: 2000px
}


.sidenav {
    background-color: #f1f1f1;
    height: 115%;
}


footer {
    background-color: #555;
    color: white;
    padding: 15px;
}

textarea {
    overflow-y: scroll;
}

.hide-element {
    visibility: hidden;
}


